In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_nonCovid = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_nonCovid_full_summary.csv', index_col=0)
df_nonCovid.head()

   Count_top5  Count_top3  Count_top2  Count_top1
👍       84180       75470       64512       49701
😡       45023       40517       35235       28731
😳       43797       36777       29286       20558
💪       31153       26771       21618       15517
😂       32181       26893       21278       15317

In [4]:
df_Covid = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_covid_full_summary.csv', index_col=0)
df_Covid.head()

   Count_top5  Count_top3  Count_top2  Count_top1
👍       29625       27034       23554       18786
😷       13821       12934       11904       10409
😡       15451       13916       12075        9713
💪       12777       11197        9268        6637
😢       11185        9524        7697        5737

In [5]:
df = pd.concat([df_nonCovid["Count_top1"], df_Covid["Count_top1"]], axis=1)
df.columns = ["typical", "covid"]
df.drop(index='👍', inplace=True)
df.fillna(0)
df.head()

   typical   covid
😡    28731  9713.0
😳    20558  4681.0
💪    15517  6637.0
😂    15317  2639.0
😠    15171  4669.0

In [6]:
df.sum()

typical    296111.0
covid       91086.0
dtype: float64

In [7]:
# normalisation
df = df / df.sum()
df.fillna(0)
df.head()

    typical     covid
😡  0.097028  0.106635
😳  0.069427  0.051391
💪  0.052403  0.072865
😂  0.051727  0.028973
😠  0.051234  0.051259

In [8]:
# drop insignificant emoji from covid
df.loc[(df["covid"] < 0.01) & (df["typical"] < 0.01)] = np.nan
df.dropna(inplace=True)

In [9]:
df["ratio"] = df.covid / df.typical
df.head()

    typical     covid     ratio
😡  0.097028  0.106635  1.099020
😳  0.069427  0.051391  0.740220
💪  0.052403  0.072865  1.390487
😂  0.051727  0.028973  0.560104
😠  0.051234  0.051259  1.000490

In [10]:
df.loc["😷"]

typical    0.036983
covid      0.114277
ratio      3.089998
Name: 😷, dtype: float64

In [15]:
df["ratio"].sort_values()

👌    0.433804
😍    0.453801
🎵    0.480758
😂    0.560104
🎶    0.655298
🙌    0.664620
😎    0.671593
😐    0.672882
🔫    0.704826
😳    0.740220
👀    0.752554
😑    0.778686
💓    0.783588
😕    0.810226
😈    0.878173
💀    0.929527
👏    0.945297
✨    0.984269
😠    1.000490
😄    1.024186
😅    1.047548
😡    1.099020
😬    1.164105
😢    1.238817
👊    1.247132
💔    1.278350
🙏    1.354935
💪    1.390487
😖    2.792834
😷    3.089998
Name: ratio, dtype: float64

In [16]:
df.to_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_comparison.csv')

# IMPORTANT: Matplotlib does not support emoji characters. Further visualisation was performed in LibreOffice Calc.