In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·
Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_nonCovid = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_nonCovid_full_summary.csv', index_col=0)
df_nonCovid.head()

   Count_top5  Count_top3  Count_top2  Count_top1
ğŸ‘       84180       75470       64512       49701
ğŸ˜¡       45023       40517       35235       28731
ğŸ˜³       43797       36777       29286       20558
ğŸ’ª       31153       26771       21618       15517
ğŸ˜‚       32181       26893       21278       15317

In [4]:
df_Covid = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_covid_full_summary.csv', index_col=0)
df_Covid.head()

   Count_top5  Count_top3  Count_top2  Count_top1
ğŸ‘       29625       27034       23554       18786
ğŸ˜·       13821       12934       11904       10409
ğŸ˜¡       15451       13916       12075        9713
ğŸ’ª       12777       11197        9268        6637
ğŸ˜¢       11185        9524        7697        5737

In [5]:
df = pd.concat([df_nonCovid["Count_top1"], df_Covid["Count_top1"]], axis=1)
df.columns = ["typical", "covid"]
df.drop(index='ğŸ‘', inplace=True)
df.fillna(0)
df.head()

   typical   covid
ğŸ˜¡    28731  9713.0
ğŸ˜³    20558  4681.0
ğŸ’ª    15517  6637.0
ğŸ˜‚    15317  2639.0
ğŸ˜     15171  4669.0

In [6]:
df.sum()

typical    296111.0
covid       91086.0
dtype: float64

In [7]:
# normalisation
df = df / df.sum()
df.fillna(0)
df.head()

    typical     covid
ğŸ˜¡  0.097028  0.106635
ğŸ˜³  0.069427  0.051391
ğŸ’ª  0.052403  0.072865
ğŸ˜‚  0.051727  0.028973
ğŸ˜   0.051234  0.051259

In [8]:
# drop insignificant emoji from covid
df.loc[(df["covid"] < 0.01) & (df["typical"] < 0.01)] = np.nan
df.dropna(inplace=True)

In [9]:
df["ratio"] = df.covid / df.typical
df.head()

    typical     covid     ratio
ğŸ˜¡  0.097028  0.106635  1.099020
ğŸ˜³  0.069427  0.051391  0.740220
ğŸ’ª  0.052403  0.072865  1.390487
ğŸ˜‚  0.051727  0.028973  0.560104
ğŸ˜   0.051234  0.051259  1.000490

In [10]:
df.loc["ğŸ˜·"]

typical    0.036983
covid      0.114277
ratio      3.089998
Name: ğŸ˜·, dtype: float64

In [15]:
df["ratio"].sort_values()

ğŸ‘Œ    0.433804
ğŸ˜    0.453801
ğŸµ    0.480758
ğŸ˜‚    0.560104
ğŸ¶    0.655298
ğŸ™Œ    0.664620
ğŸ˜    0.671593
ğŸ˜    0.672882
ğŸ”«    0.704826
ğŸ˜³    0.740220
ğŸ‘€    0.752554
ğŸ˜‘    0.778686
ğŸ’“    0.783588
ğŸ˜•    0.810226
ğŸ˜ˆ    0.878173
ğŸ’€    0.929527
ğŸ‘    0.945297
âœ¨    0.984269
ğŸ˜     1.000490
ğŸ˜„    1.024186
ğŸ˜…    1.047548
ğŸ˜¡    1.099020
ğŸ˜¬    1.164105
ğŸ˜¢    1.238817
ğŸ‘Š    1.247132
ğŸ’”    1.278350
ğŸ™    1.354935
ğŸ’ª    1.390487
ğŸ˜–    2.792834
ğŸ˜·    3.089998
Name: ratio, dtype: float64

In [16]:
df.to_csv('/content/gdrive/My Drive/Colab Notebooks/KoronaScience/data/emoji_comparison.csv')

# IMPORTANT: Matplotlib does not support emoji characters. Further visualisation was performed in LibreOffice Calc.